.title{
    background-color: #fff;
    font-size: 40px;
    color: orange;
    display: flex;
}

#vue {
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(../../images/vue.jpg);
}
#react {
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(../../images/react.png);
}